<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcom to Nodde with Express!</title>
</head>
<body>
    <main>
        <h1>Express isn't that hard, really</h1>
        <h3>dynamic content goes here:</h3>
        <hr>
            <!-- handlebars will render its views here -->
            {{{ body }}}
        <hr>
    </main>
</body>
</html>